PORT=8000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db-splitter:5432/openapi_splitter
DB_HOST=db-splitter
DB_PORT=5432
DB_NAME=openapi_splitter
DB_USER=postgres
DB_PASSWORD=postgres
FILES_SERVICE_URL=http://files-service:8002
CORS_ORIGIN=http://localhost:5173
