PORT=8001
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db-files:5432/files_service
DB_HOST=db-files
DB_PORT=5432
DB_NAME=files_service
DB_USER=postgres
DB_PASSWORD=postgres
STORAGE_PATH=/app/storage
CORS_ORIGIN=*
REDIS_URL=redis://redis:6379
RATE_LIMIT_MAX=45
RATE_LIMIT_WINDOW_SEC=60
